__[Anscombe's quartet](https://en.wikipedia.org/wiki/Anscombe's_quartet)__

In [1]:
reset -fs

In [2]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from scipy import stats
import seaborn as sns

%matplotlib inline

In [5]:
# Load the example dataset for Anscombe's quartet
anscombe=sns.load_dataset("anscombe")

In [6]:
anscombe.groupby('dataset').describe()

            x                                               y            \
        count mean       std  min  25%  50%   75%   max count      mean
dataset
I        11.0  9.0  3.316625  4.0  6.5  9.0  11.5  14.0  11.0  7.500909
II       11.0  9.0  3.316625  4.0  6.5  9.0  11.5  14.0  11.0  7.500909
III      11.0  9.0  3.316625  4.0  6.5  9.0  11.5  14.0  11.0  7.500000
IV       11.0  9.0  3.316625  8.0  8.0  8.0   8.0  19.0  11.0  7.500909


              std   min    25%   50%   75%    max
dataset
I        2.031568  4.26  6.315  7.58  8.57  10.84
II       2.031657  3.10  6.695  8.14  8.95   9.26
III      2.030424  5.39  6.250  7.11  7.98  12.74
IV       2.030579  5.25  6.170  7.04  8.19  12.50

In [7]:
0.817**2

0.6674889999999999

In [8]:
# 'I', 'II', 'III', 'IV'
dataset = 'IV' 
slope, intercept, r_value, p_value, std_err = stats.linregress(x=anscombe[anscombe.dataset==dataset].x,
                                                               y=anscombe[anscombe.dataset==dataset].y)
print("""
slope       = {:.1f} 
intercept   = {:.2f} 
correlation = {:.3f} 
p value     = {:.3f}
std error   = {:.3f}""".format(slope, intercept, r_value, p_value , std_err))

slope       = 0.5
intercept   = 3.00
correlation = 0.817
p value     = 0.002
std error   = 0.118

In [8]:
results = []
for dataset in 'I II III IV'.split():
    slope, intercept, r_value, p_value, std_err = stats.linregress(x=anscombe[anscombe.dataset=='I'].x,
                                                               y=anscombe[anscombe.dataset=='I'].y)
    results.append([slope, intercept, r_value])

In [ ]:
results

In [ ]:
# Show the results of a linear regression within each dataset
sns.lmplot(x="x", y="y", col="dataset", hue="dataset", data=anscombe,
           col_wrap=2, ci=None, palette="muted", size=4, scatter_kws={"s": 50, "alpha": 1});

<br>
<br> 
<br>